    <nav class="navbar navbar-expand-md navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EAU Qardo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {% if user.is_authenticated %}
                     <!--add record-->
                    <div class="navbar-nav offset-md-0">
                        <a class="nav-link" aria-current="page" href="{% url 'add_record' %}">Add Record</a>
                    </div>

                    <div class="navbar-nav offset-md-0">
                        <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
                    </div>
                {% else %}
                    <!--Register-->
                    <div class="navbar-nav offset-md-10">
                        <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
                    </div>
                    <!--Login-->
                    <div class="navbar-nav ">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Login</a>
                    </div>
                    
                {% endif %}
            </div>
        </div>
    </nav>